<div class="jumbotron">
  <div class="image">
    <img src="assets/img/burger.png" class="img-rounded" id="burger-pic" alt="Burger Image">
  </div>
  <br>
  <h3>Eat-Da-Burger!</h3>
</div>

  <!-- Creates the Overall Grid -->
  <div class="container">
    
    <!-- First Row -->
    <div class="row">
      <!-- First (and only column) -->
      <div class="col-md-12">
        <h1>I'm in Column 1 of 1. I stretch the entire width. And keep going.</h1>
      </div>
    </div>

    <!-- Second Row -->
    <div class="row">
      <!-- First of two columns -->
      <div class="col-md-6">
        <h1>I'm in Column 1 of 2</h1>
      </div>
      <!-- Second of two columns -->
      <div class="col-md-6">
        <h1>I'm in Column 2 of 2</h1>
      </div>
    </div>

  </div>

<!-- <h2>Yummy Burgers to Devour!</h2> -->

<!--
// 1 row to hold 3 cols:
// - col1 will have burgers to be devoured.
// - col2 will have devour buttons.
// - col3 will have burgers that have been devoured.
-->
<div class="row"> 
  <ul>
    {{#each burgers}}
      {{#unless this.devoured}}
        <li>

          <div class="col-md-4"> // col1
            {{this.burger_name}}
          </div>

          <div class="col-md-4"> // col2
            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <button type="submit">DEVOUR ME!</button>
            </form>
          </div>

        </li>
      {{/unless}}
    {{/each}}
  </ul>

<!-- <h2>Burgers You Devoured!</h2> -->

  <ul>
    {{#each burgers}}
      {{#if this.devoured}}
        <li>
          <div class="col-md-4">
            {{this.burger_name}}
          </div>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

<h2>Add a burger</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>
