li {
  height: 35px;
  /*list-style: none;*/
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  text-align: center;
  background: aqua;
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.jumbotron {
	text-align: center;
}

.not-devoured {
  width: 45%;
	float: left;
}

.devoured {
  width: 45%;
	float: right;
}

.burger-name {
  margin-top: -20px;
  overflow: auto;
}

.burger-button {
  line-height: 20px;
  width: 110px;
  margin-left: -15px;
}
